= render 'commons/leftsidebar', user: current_user

.wide_show
  .ui.pointing.menu
    = link_to :back, class: 'item' do
      %i.angle.left.icon
      %font{:style => "vertical-align: inherit;"}
        %font{:style => "vertical-align: inherit;"} もどる

  .profile_content
    = render 'layouts/flash_messages'
    .ui.three.item.menu
      %a.active.item
        %font{:style => "vertical-align: inherit;"}
          %font{:style => "vertical-align: inherit;"} プロフィール 
      = link_to account_follows_path(current_user), class: 'item' do
        %font{:style => "vertical-align: inherit;"}
          %font{:style => "vertical-align: inherit;"} フォロー
        .ui.small.blue.label= current_user.following_count
      = link_to account_followers_path(current_user), class: 'item' do
        %font{:style => "vertical-align: inherit;"}
          %font{:style => "vertical-align: inherit;"} フォロワー
        .ui.small.blue.label= current_user.follower_count

    .ui.raised.segment.profile_description
      .ui.grid
        .profile_description_left
          = image_tag current_user.avatar_image, class: 'ui small image'
        .profile_description_right.ui.segment
          .div
            %font{:style => "vertical-align: inherit;"}
              %font{:style => "vertical-align: inherit;"} 【名前】
            %font{:style => "vertical-align: inherit;"}
              %font{:style => "vertical-align: inherit;"}= current_user.display_name
          .div
            %font{:style => "vertical-align: inherit;"}
              %font{:style => "vertical-align: inherit;"} 【年齢】
            %font{:style => "vertical-align: inherit;"}
              %font{:style => "vertical-align: inherit;"}= current_user.age || '?歳'
          .div
            %font{:style => "vertical-align: inherit;"}
              %font{:style => "vertical-align: inherit;"} 【性別】
            %font{:style => "vertical-align: inherit;"}
              %font{:style => "vertical-align: inherit;"}= I18n.t("enum.genders.#{current_user.gender || 'unknown'}")
          .div
            %font{:style => "vertical-align: inherit;"}
              %font{:style => "vertical-align: inherit;"} 【在籍年数】
            %font{:style => "vertical-align: inherit;"}
              %font{:style => "vertical-align: inherit;"}= current_user.join_age
          .div
            %font{:style => "vertical-align: inherit;"}
              %font{:style => "vertical-align: inherit;"} 【電話番号】
            %font{:style => "vertical-align: inherit;"}
              %font{:style => "vertical-align: inherit;"}= current_user.phone
          .div
            %font{:style => "vertical-align: inherit;"}
              %font{:style => "vertical-align: inherit;"} 【メール】
            %font{:style => "vertical-align: inherit;"}
              %font{:style => "vertical-align: inherit;"}= current_user.mail
        
    = link_to edit_profile_path do
      .ui.blue.labeled.submit.icon.button.right.floated
        %i.icon.edit
        %font{:style => "vertical-align: inherit;"}
          %font{:style => "vertical-align: inherit;"}
            編集する


    .ui.compact.menu
      .ui.simple.dropdown.item
        メニュー
        %i.dropdown.icon
        .menu
          .header
            %i.tags.icon
              友達
          = link_to posts_path, class: 'item'  do
            %p Choice 1
          .item Choice 2
          .item Choice 3

    .ui.icon.buttons
      .ui.top.left.simple.dropdown.button
        %i.user.icon
        .menu
          = link_to posts_path, class: 'item' do
            %i.edit.icon>
            %span ユーザ編集
          .item
            %i.delete.icon>
            ユーザ削除
          .item
            %i.hide.icon>
            ログアウト
      .ui.top.left.simple.dropdown.button
        %i.users.icon
        .menu
          .item
            %i.edit.icon>
            フォロー
          .item
            %i.delete.icon>
            フォロワー
          .item
            %i.hide.icon>
            Hide from Group
      .ui.top.left.simple.dropdown.button
        %i.settings.icon
        .menu
          .item
            %i.edit.icon
            Edit
          .item
            %i.delete.icon
            Remove
          .item
            %i.hide.icon
            Hide

    .ui.top.attached.menu
      .ui.simple.dropdown.icon.item
        %i.wrench.icon
        .menu
          .item
            編集
          .item
            削除
      .right.menu
        .ui.right.aligned.category.search.item
          .ui.action.input.transparent
            %input{:placeholder => "検索する", :type => "text"}/
            %button.ui.icon.button
              %i.search.icon
          .results
    .ui.bottom.attached.segment
      .header
        %i.large.book.icon.blue
        %font{:style => "vertical-align: inherit;"}
          %font{:style => "vertical-align: inherit;"}
            タイトル
      .description
        内容
        
    .ui.cards
      .card
        .ui.top.attached.label.tac
          %i.user.icon
          %span= current_user.display_name
        .profile_image_content
          = image_tag current_user.avatar_image, class: 'profile_image'
        .content
          .description
            .div
              %i.birthday.icon
              %span #{current_user.birthday} (#{current_user.age || '?歳'})
            .div
              %i.venus.mars.icon
              %span= I18n.t("enum.genders.#{current_user.gender || 'unknown'}")
            .div
              %i.building.icon
              %span= current_user.join_age
            .div
              %i.phone.icon
              %span= current_user.phone
            .div
              %i.mail.icon
              %span= current_user.mail
        .ui.bottom.attached.button
          %font{:style => "vertical-align: inherit;"}
            %font{:style => "vertical-align: inherit;"}
              ユーザーページへ
          %i.arrow.right.icon

      .card
        .ui.top.attached.label.tac
          %i.user.icon
          %span= current_user.display_name
        .profile_image_content
          = image_tag current_user.avatar_image, class: 'profile_image'
        .content
          .description
            .div
              %i.birthday.icon
              %span #{current_user.birthday} (#{current_user.age || '?歳'})
            .div
              %i.venus.mars.icon
              %span= I18n.t("enum.genders.#{current_user.gender || 'unknown'}")
            .div
              %i.building.icon
              %span= current_user.join_age
            .div
              %i.phone.icon
              %span= current_user.phone
            .div
              %i.mail.icon
              %span= current_user.mail
        .ui.icon.buttons.bottom.attached
          .ui.top.left.button
            %i.user.icon
            %span フォロー
          .ui.top.left.button
            %i.user.icon
            %span フォロワー
  
    .ui.segment.blue
      .item.ui.grid
        .image
          = image_tag 'default-avatar.png', class: 'post_image'
        .content
          %i.book.icon.blue
          %span カテゴリー
          .description
            %p ここにタイトルを表示30文字
          .extra
            %p.opacity ゲストユーザが２０分前に作成





