= render 'commons/header', user: current_user
.container
  = render 'commons/tab'

  .ui.grid
    .four.wide.column
      = render 'commons/profile_second', user: @user

    .eight.wide.column
      = render 'layouts/flash_messages'
      = render 'account/accounts/outputs', user: @user, posts: @posts 

    .four.wide.column

-# .wide_show
-#   .ui.pointing.menu
-#     = link_to :back, class: 'item' do
-#       %i.angle.left.icon
-#       %font{:style => "vertical-align: inherit;"}
-#         %font{:style => "vertical-align: inherit;"} もどる