-# ヘッダー
= render 'home/header'

-# 内容

.content
  %section.first
    .container
      .first_home_container
        .ui.grid
          .six.wide.column.first_left
            %p.first_title
              情報共有が
              %br 組織を強くする
            %p.first_title_sub
              ビジネスをリモートで機能させるには
              %br 
                情報共有が大切である。KnowHowは
                %br 
                  属人的だったノウハウを情報資産として
                  %br 共有するサービスです。
            = link_to users_guest_sign_in_path, method: :post do
              %button.ui.basic.button.blue
                %i.icon.hand.point.right
                %font{:style => "vertical-align: inherit;"}
                  %font{:style => "vertical-align: inherit;"}
                    アカウント登録せずに機能を試す

          .ten.wide.column
            = image_tag 'first-image.jpg', class: 'first_home_image'

  %section.second
    .container
      .second_home_container
        .ui.grid.two.column
          .column
            = image_tag 'knowhow.jpg', class: 'second_image'
          .column.second_padding
            %p.second_title
              情報資産共有ツール
              %br KnowHowとは
            %p.second_title_sub 
              「情報資産の共有」を目的としたサービスです。
              %br
                社内SNSとしても利用できます。 
            = link_to new_user_registration_path do
              %button.ui.basic.button.blue
                %i.icon.lightbulb
                %font{:style => "vertical-align: inherit;"}
                  %font{:style => "vertical-align: inherit;"}
                    KnowHowを利用したい

  %section.third
    .container
      .third_home_container
        .ui.grid.three.column
          .column
            .ui.raised.segment
              = image_tag 'write.jpg', class: 'third_image'
              %p.tac.third_title ノウハウをアウトプットする
              %p.third_title_sub 誰でも簡単にアウトプットできます。Markdownにも対応。下書きとして一時保存することもできます。
          .column
            .ui.raised.segment
              = image_tag 'find.jpg', class: 'third_image'
              %p.tac.third_title ノウハウを検索する
              %p.third_title_sub 自分が求めるノウハウを検索することができます。ブックマークをして他の人のノウハウを自分のものにできます。
          .column
            .ui.raised.segment
              = image_tag 'follow.jpg', class: 'third_image'
              %p.tac.third_title 気になる人をフォローする
              %p.third_title_sub 気になる人をフォローすることができます。フォローした人のノウハウはタイムラインに表示されます。

-# フッター

%footer
  .container
    .home_footer
      %p ©️2021 KnowHow.inc