= render 'commons/header', user: current_user
.container
  - if @user == current_user
    = render 'commons/user_tab'
  - else
    = render 'commons/tab'

  .ui.grid
    .four.wide.column
      = render 'commons/profile_second', user: @user

    .eight.wide.column
      = render 'accounts/users', users: @followers

    .four.wide.column