.ui.left.fixed.vertical.menu
  %p.height
  = link_to new_post_path do
    .button_01
      %button.ui.blue.button
        %i.icon.pencil.alternate
        アウトプットする
  = link_to posts_path, class: 'item' do
    %p.small ノウハウ一覧
  %a.item
    %p.small タイムライン
  %a.item
    %p.small ユーザ一覧

  %p.middle
  = link_to profile_path, class: 'item' do
    = image_tag 'default-avatar.png', class: 'ui avatar image'
    - if user.present?
      %span= user.display_name
  %a.item
    .ui.small.blue.label 1
    %p.small アウトプット一覧
  %a.item
    .ui.small.blue.label 51
    %p.small ブックマーク
  %a.item
    .ui.small.blue.label 1
    %p.small 下書き