- if user == current_user
  .ui.cards
    .card.profile_wide
      .ui.top.attached.label.tac
        %i.user.icon
        %span= user.display_name
      .profile_image_content
        = image_tag user.avatar_image, class: 'profile_image'
      .content
        .description
          .div
            %i.birthday.icon
            %span #{user.birthday} (#{user.age || '年齢未入力'})
          .div
            %i.venus.mars.icon
            %span= I18n.t("enum.genders.#{user.gender || 'unknown'}")
          .div
            %i.building.icon
            %span= user.join_age || '在籍年数未入力'
          .div
            %i.phone.icon
            %span= user.phone || '電話番号未入力'
          .div
            %i.mail.icon
            %span= user.mail || 'アドレス未入力'
      .ui.icon.buttons.bottom.attached.block
        = link_to edit_user_profile_path do
          .ui.top.left.button.wide_three_column
            %i.cog.icon
            %p 編集
        = link_to account_follows_path(user) do
          .ui.top.left.button.wide_three_column
            %i.address.book.outline.icon
            %p フォロー
        = link_to account_followers_path(user) do
          .ui.top.left.button.wide_three_column_right
            %i.address.book.icon
            %p フォロワー
- else
  .ui.cards
    .card.profile_wide
      .ui.top.attached.label.tac
        %i.user.icon
        %span= user.display_name
      .profile_image_content
        = image_tag user.avatar_image, class: 'profile_image'
      .content
        .description
          .div
            %i.birthday.icon
            %span #{user.birthday} (#{user.age || '年齢未入力'})
          .div
            %i.venus.mars.icon
            %span= I18n.t("enum.genders.#{user.gender || 'unknown'}")
          .div
            %i.building.icon
            %span= user.join_age || '在籍年数未入力'
          .div
            %i.phone.icon
            %span= user.phone || '電話番号未入力'
          .div
            %i.mail.icon
            %span= user.mail || 'アドレス未入力'
        .div.tac.margin_top_mini
          -if current_user&.has_followed?(user)
            = link_to account_unfollows_path(user), data: { method: 'post' } do
              %button.ui.basic.button
                %i.icon.user
                %font{:style => "vertical-align: inherit;"}
                  %font{:style => "vertical-align: inherit;"}
                    フォロー済み
          - else
            = link_to account_follows_path(user), data: { method: 'post' } do
              %button.ui.basic.button.blue
                %i.icon.user.plus
                %font{:style => "vertical-align: inherit;"}
                  %font{:style => "vertical-align: inherit;"}
                    フォローする
      .ui.icon.buttons.bottom.attached.block
        = link_to account_path(user) do
          .ui.top.left.button.wide_three_column
            %i.book.icon
            %p ノウハウ
        = link_to account_follows_path(user) do
          .ui.top.left.button.wide_three_column
            %i.address.book.outline.icon
            %p フォロー
        = link_to account_followers_path(user) do
          .ui.top.left.button.wide_three_column_right
            %i.address.book.icon
            %p フォロワー