.ui.secondary.pointing.menu
  = link_to posts_path do
    .item{class: "#{'active' if current_page?(posts_path)}"}
      %font{:style => "vertical-align: inherit;"}
        %font{:style => "vertical-align: inherit;"}
          ノウハウリスト
  = link_to timeline_path do
    .item{class: "#{'active' if current_page?(timeline_path)}"}
      %font{:style => "vertical-align: inherit;"}
        %font{:style => "vertical-align: inherit;"}
          タイムライン
  = link_to accounts_path do
    .item{class: "#{'active' if current_page?(accounts_path)}"}
      %font{:style => "vertical-align: inherit;"}
        %font{:style => "vertical-align: inherit;"}
          ユーザリスト
  .right.menu
    %a.ui.item
      %font{:style => "vertical-align: inherit;"}
        %font{:style => "vertical-align: inherit;"}
          検索機能