.ui.secondary.pointing.menu
  = link_to posts_path do
    .item{class: "#{'active' if current_page?(posts_path) || current_page?(knowhow_index_path) || current_page?(share_index_path) || current_page?(news_index_path) }"}
      %font{:style => "vertical-align: inherit;"}
        %font{:style => "vertical-align: inherit;"}
          ノウハウリスト
  = link_to timeline_path do
    .item{class: "#{'active' if current_page?(timeline_path)}"}
      %font{:style => "vertical-align: inherit;"}
        %font{:style => "vertical-align: inherit;"}
          タイムライン
  = link_to accounts_path do
    .item{class: "#{'active' if current_page?(accounts_path)}"}
      %font{:style => "vertical-align: inherit;"}
        %font{:style => "vertical-align: inherit;"}
          ユーザリスト