.ui.secondary.pointing.menu
  = link_to user_outputs_path do
    .item{class: "#{'active' if current_page?(user_outputs_path)}"}
      %font{:style => "vertical-align: inherit;"}
        %font{:style => "vertical-align: inherit;"}
          マイノウハウ
  = link_to user_bookmarked_posts_path do
    .item{class: "#{'active' if current_page?(user_bookmarked_posts_path)}"}
      %font{:style => "vertical-align: inherit;"}
        %font{:style => "vertical-align: inherit;"}
          ブックマーク
  = link_to user_drafts_path do
    .item{class: "#{'active' if current_page?(user_drafts_path)}"}
      %font{:style => "vertical-align: inherit;"}
        %font{:style => "vertical-align: inherit;"}
          下書き