.container
  %ul
    - @post.errors.full_messages.each do |message|
      %li= message

  .padding_tb
    = link_to :back do
      %button.ui.basic.button
        %i.angle.left.icon
        %font{:style => "vertical-align: inherit;"}
          %font{:style => "vertical-align: inherit;"}
            もどる

  .ui.equal.width.center.aligned.padded.grid
    .row.form_height
      .ui.raised.segment.column.padding_setting
        = form_with(model: @post, local: 'true') do |f|
          %div
            = f.text_field :title, placeholder: 'タイトルを入力', class: 'text'
          %hr/
          %div
            = f.text_area :content, placeholder: '内容を入力', class: 'text text_height'
          %div.right
            = f.submit '更新する', class: 'ui primary button'
      .ui.raised.segment.column
        %p
          %font{:style => "vertical-align: inherit;"}
            %font{:style => "vertical-align: inherit;"} MarkDownを適用してここにリアルタイムプレビュー機能を実装したい