= render 'commons/header', user: current_user
.container
  = render 'commons/tab'

  .ui.three.column.grid
    .column
      .ui.segment.blue
        %p.tac 社内ノウハウ
        - @posts.each do |post|
          .ui.segment
            .ui.relaxed.divided.list        
              = link_to post_path(id: post.id), class: 'item' do
                %i.large.book.middle.aligned.icon.blue
                .content
                  .header
                    %font{:style => "vertical-align: inherit;"}
                      %font{:style => "vertical-align: inherit;"} 
                        = post.title
                  .description
                    %font{:style => "vertical-align: inherit;"}
                      %font{:style => "vertical-align: inherit;"} #{time_ago_in_words(post.created_at)}前にアウトプット
        .pagination
          = paginate @posts

    .column
      .ui.segment.green
        %p.tac 共有事項
        - @posts.each do |post|
          .ui.segment
            .ui.relaxed.divided.list        
              = link_to post_path(id: post.id), class: 'item' do
                %i.large.share.alternate.middle.aligned.icon.green
                .content
                  .header
                    %font{:style => "vertical-align: inherit;"}
                      %font{:style => "vertical-align: inherit;"} 
                        = post.title
                  .description
                    %font{:style => "vertical-align: inherit;"}
                      %font{:style => "vertical-align: inherit;"} #{time_ago_in_words(post.created_at)}前にアウトプット
        .pagination
          = paginate @posts
    .column
      .ui.segment.pink
        %p.tac ニュースまとめ
        - @posts.each do |post|
          .ui.segment
            .ui.relaxed.divided.list        
              = link_to post_path(id: post.id), class: 'item' do
                %i.large.newspaper.middle.aligned.icon.pink
                .content
                  .header
                    %font{:style => "vertical-align: inherit;"}
                      %font{:style => "vertical-align: inherit;"} 
                        = post.title
                  .description
                    %font{:style => "vertical-align: inherit;"}
                      %font{:style => "vertical-align: inherit;"} #{time_ago_in_words(post.created_at)}前にアウトプット
        .pagination
          = paginate @posts

  -# .wide_show
  -#   .wide_show_content
  -#     = render 'layouts/flash_messages'
  -#     .ui.two.item.menu
  -#       = link_to posts_path, class: 'item active' do
  -#         %font{:style => "vertical-align: inherit;"}
  -#           %font{:style => "vertical-align: inherit;"} ノウハウ一覧
  -#       = link_to timeline_path, class: 'item' do
  -#         %font{:style => "vertical-align: inherit;"}
  -#           %font{:style => "vertical-align: inherit;"} タイムライン

  -#     - @posts.each do |post|
  -#       .ui.segment
  -#         %p.ui.ribbon.blue.label= post.user.display_name
  -#         .ui.relaxed.divided.list        
  -#           = link_to post_path(id: post.id), class: 'item' do
  -#             %i.large.book.middle.aligned.icon
  -#             .content
  -#               .header
  -#                 %font{:style => "vertical-align: inherit;"}
  -#                   %font{:style => "vertical-align: inherit;"} 
  -#                     = post.title
  -#               .description
  -#                 %font{:style => "vertical-align: inherit;"}
  -#                   %font{:style => "vertical-align: inherit;"} #{time_ago_in_words(post.created_at)}前にアウトプット
  -#     .pagination
  -#       = paginate @posts
