= render 'commons/leftsidebar'

.wide_show
  .ui.menu
    = link_to :back, class: 'item' do
      %i.angle.left.icon
      %font{:style => "vertical-align: inherit;"}
        %font{:style => "vertical-align: inherit;"} もどる
    .right.menu
      = link_to edit_post_path(@post), class: 'item' do
        %i.edit.icon
        %font{:style => "vertical-align: inherit;"}
          %font{:style => "vertical-align: inherit;"} 編集
      = link_to post_path(@post), data: { method: 'delete', confirm: '本当に削除してもいいですか？' }, class: 'item' do
        %i.eraser.icon
        %font{:style => "vertical-align: inherit;"}
          %font{:style => "vertical-align: inherit;"} 削除

  .ui.raised.segment
    %h2.ui.header
      %i.book.icon
      .content
        %font{:style => "vertical-align: inherit;"}
          %font{:style => "vertical-align: inherit;"}
            = @post.title
        .sub.header
          %font{:style => "vertical-align: inherit;"}
            %font{:style => "vertical-align: inherit;"} yutaroが2021年1月3日にアウトプット
    .div
      .ui.labeled.button{:tabindex => "0"}
        .ui.primary.button
          %i.bookmark.icon
          %font{:style => "vertical-align: inherit;"}
            %font{:style => "vertical-align: inherit;"}
              ブックマーク
        %p.ui.basic.label
          %font{:style => "vertical-align: inherit;"}
            %font{:style => "vertical-align: inherit;"}
              14
    %br/
    %p 
      = markdown(@post.content)

  %br/
  .container
    .ui.minimal.comments
      %h3.ui.dividing.header
        %font{:style => "vertical-align: inherit;"}
          %font{:style => "vertical-align: inherit;"} コメント
      .comment
        %a.ui.avatar.image
          = image_tag 'default-avatar.png'
        .content
          %a.author
            %font{:style => "vertical-align: inherit;"}
              %font{:style => "vertical-align: inherit;"} ユーザ１
          .metadata
            %span.date
              %font{:style => "vertical-align: inherit;"}
                %font{:style => "vertical-align: inherit;"} 今日の午後5時42分
          .text
            %font{:style => "vertical-align: inherit;"}
              %font{:style => "vertical-align: inherit;"}
                作成過程を撮影
      .comment
        %a.ui.avatar.image
          = image_tag 'default-avatar.png'
        .content
          %a.author
            %font{:style => "vertical-align: inherit;"}
              %font{:style => "vertical-align: inherit;"} ユーザ２
          .metadata
            %span.date
              %font{:style => "vertical-align: inherit;"}
                %font{:style => "vertical-align: inherit;"} 昨日の午前12時30分
          .text
            %p
              %font{:style => "vertical-align: inherit;"}
                %font{:style => "vertical-align: inherit;"} コメントテスト１
      .comment
        %a.ui.avatar.image
          = image_tag 'default-avatar.png'
        .content
          %a.author
            %font{:style => "vertical-align: inherit;"}
              %font{:style => "vertical-align: inherit;"} ユーザ３
          .metadata
            %span.date
              %font{:style => "vertical-align: inherit;"}
                %font{:style => "vertical-align: inherit;"} 5日前
          .text
            %font{:style => "vertical-align: inherit;"}
              %font{:style => "vertical-align: inherit;"} コメントテスト２
      %br/
      %form.ui.reply.form
        .field
          %textarea
        .ui.blue.labeled.submit.icon.button
          %i.icon.edit
          %font{:style => "vertical-align: inherit;"}
            %font{:style => "vertical-align: inherit;"}
              コメントを追加


