= render 'commons/leftsidebar', user: current_user

.wide_show
  .ui.menu
    = link_to :back, class: 'item' do
      %i.angle.left.icon
      %font{:style => "vertical-align: inherit;"}
        %font{:style => "vertical-align: inherit;"} もどる
    - if user_signed_in? && current_user.has_outputted?(@post)
      .right.menu
        = link_to edit_post_path(@post), class: 'item' do
          %i.edit.icon
          %font{:style => "vertical-align: inherit;"}
            %font{:style => "vertical-align: inherit;"} 編集
        = link_to post_path(@post), data: { method: 'delete', confirm: '本当に削除してもいいですか？' }, class: 'item' do
          %i.eraser.icon
          %font{:style => "vertical-align: inherit;"}
            %font{:style => "vertical-align: inherit;"} 削除
  .wide_show_content
    = render 'layouts/flash_messages'
    .ui.raised.segment
      %p.ui.ribbon.blue.label= @post.user.display_name
      %h2.ui.header
        %i.book.icon
        .content
          %font{:style => "vertical-align: inherit;"}
            %font{:style => "vertical-align: inherit;"}
              = @post.title
          .sub.header
            %font{:style => "vertical-align: inherit;"}
              %font{:style => "vertical-align: inherit;"} #{@post.user.display_name}が#{@post.display_created_at}にアウトプット
      .div
        .ui.labeled.button{:tabindex => "0"}
          - if current_user.has_bookmarked?(@post)
            = link_to post_bookmark_path(@post), data: { method: 'delete' }, class: 'ui primary button opacity' do
              %i.bookmark.icon
              %font{:style => "vertical-align: inherit;"}
                %font{:style => "vertical-align: inherit;"}
                  ブックマーク済
            %p.ui.basic.label.opacity
              %font{:style => "vertical-align: inherit;"}
                %font{:style => "vertical-align: inherit;"}= @post.bookmark_count
          - else
            = link_to post_bookmark_path(@post), data: { method: 'post' }, class: 'ui primary button' do
              %i.bookmark.icon
              %font{:style => "vertical-align: inherit;"}
                %font{:style => "vertical-align: inherit;"}
                  ブックマーク
            %p.ui.basic.label
              %font{:style => "vertical-align: inherit;"}
                %font{:style => "vertical-align: inherit;"}= @post.bookmark_count
      %br/
      %p 
        = @post.content

    %br/
    .container
      .ui.minimal.comments
        %h3.ui.dividing.header.tac
          %font{:style => "vertical-align: inherit;"}
            %font{:style => "vertical-align: inherit;"} コメント
        - @comments.each do |comment|
          .ui.segment
            .comment
              %a.ui.avatar.image
                = image_tag 'default-avatar.png'
              .content
                %a.author
                  %font{:style => "vertical-align: inherit;"}
                    %font{:style => "vertical-align: inherit;"} ユーザ１
                .metadata
                  %span.date
                    %font{:style => "vertical-align: inherit;"}
                      %font{:style => "vertical-align: inherit;"}  #{comment.display_created_at}に更新
                .text
                  %font{:style => "vertical-align: inherit;"}
                    %font{:style => "vertical-align: inherit;"}
                      = comment.content
      %br/
      %form.ui.reply.form
        .field
          %textarea
        = link_to new_post_comment_path(@post) do
          .ui.blue.labeled.submit.icon.button.right.floated
            %i.icon.edit
            %font{:style => "vertical-align: inherit;"}
              %font{:style => "vertical-align: inherit;"}
                コメントを追加
