= render 'commons/header', user: current_user
.container
  = render 'commons/tab'

  .ui.grid
    .four.wide.column
      = render 'commons/profile_first', user: current_user

    .eight.wide.column
      = render 'layouts/flash_messages'
      = render 'post/posts/post', post: @post

      %br/
      - if @comments.present?
        .ui.minimal.comments
          %p.ui.horizontal.divider
            %i.comments.icon
            コメント
          %br/
          - @comments.each do |comment|
            .ui.segment
              .item.ui.grid.post_contents
                .image.post_padding
                  = link_to account_path(comment.user) do
                    = image_tag comment.user.avatar_image, class: 'post_image_mini'
                .content.post_padding
                  %span= comment.user.display_name
                  %p.opacity #{comment.display_created_at}に作成
              .description
                %p
                  = comment.content
      
    .four.wide.column
      = render 'commons/history', histories: @histories
