= render 'commons/header', user: current_user
.container
  = render 'commons/tab'

  .ui.grid
    .four.wide.column
      = render 'commons/profile_first', user: current_user

    .eight.wide.column
      = render 'accounts/users', users: @users

    .four.wide.column
      = render 'commons/history', histories: @histories

