= render 'commons/header', user: current_user
.container
  = render 'commons/tab'

  .ui.grid
    .four.wide.column
      = render 'commons/profile_first', user: current_user

    .eight.wide.column
      - @users.each do |user|
        .ui.segment
          .ui.middle.aligned.list
            .item
              = image_tag user.avatar_image, class: 'ui avatar image'
              .content
                .header
                  %font{:style => "vertical-align: inherit;"}
                    %font{:style => "vertical-align: inherit;"}= user.display_name
              = link_to account_path(user) do
                %button.ui.right.labeled.icon.button.right.floated
                  %i.right.arrow.icon
                  %font{:style => "vertical-align: inherit;"}
                    %font{:style => "vertical-align: inherit;"}
                      詳細

    .four.wide.column
      = render 'commons/history', histories: @histories

